p {
  color: chocolate;
  background-color: blue;
  font-size: 20px;
  width: 300px;
}
img {
  display: block;
  width: 500px;
  margin: 0, 20px;
  background-color: bisque;
}
html {
  background-color: rgb(64, 209, 238);
}
h1 {
  color: rgb(182, 59, 59);
}
